@import "@redsift/ui-rs-core/src/index.import"
@import "@redsift/ui-rs-hero/dist/css/ui-rs-hero.min.css"

$cdn = {
  assets: "https://static.redsift.io/assets/sifts/sift-tldr"
};
$enable-webp = true;


.-bg-tldr
  bg-webp("/hero", "jpg", $enable-webp, $cdn.assets,
          linear-gradient(180deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)));
  bg-retina-webp("/hero", "jpg", $enable-webp, $cdn.assets,
          linear-gradient(180deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)));


.hero-sticky-header--active
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15)
  bg-webp("/hero", "jpg", $enable-webp, $cdn.assets,
          linear-gradient(180deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)));
  bg-retina-webp("/hero", "jpg", $enable-webp, $cdn.assets,
          linear-gradient(180deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)));


body, html {
  height: 100%;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

rs-hero > *
  user-select: none;

.content
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

.content > *
  user-select: none;

.detail-content
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;


.detail-content > *
  user-select: none;

.card
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border: 1px solid #D7D6D6;
  margin-bottom: 1em;
  padding: 0.5em;

.card:last-child
  margin-bottom: 0;

.wpm-box
  display: flex;
  align-items: baseline;

.wpm-box p
  margin-left: 1em;

.slider-box
  display: flex;
  align-items: center;

#wpmSlider
  margin: 0 1em;

.legend
  height: 100%;
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  padding: 2em;
  flex-wrap: wrap;

.legend__step
  display: flex;
  flex-direction: column;
  align-items: center;

.legend__step__icon
  margin-top: 1em;
  width: 30px;
  height: 30px;

@media (max-width: 480px)
  .content
    height: 100%
    box-sizing: border-box

  .hero
    display: none

  .hero-sticky-header
    display: none

@media (max-width: 400px), (max-height: 230px)
  .card-slider
    display: none

  .legend
    padding: 0

  .legend__step
    min-width: 50px
    margin-bottom: 0.5em

@media (max-width: 480px)
  .slider-box
    align-self: stretch

@media (max-height: 230px)
  body
    overflow-y: hidden
